
<!-- feed is cached -->

<div id="home-welcome" style="padding-bottom: 14px; min-height: inherit;">
  <div class="wrapper">
    <p class="intro"><strong>WordPress</strong> is web software you can use to create a beautiful website or blog. We like to say that WordPress is both free and priceless at the&nbsp;same&nbsp;time.</p>

    <p>The core software is built by hundreds of community volunteers, and when you&#8217;re ready for more there are thousands of <a href="/extend/plugins/">plugins</a> and <a href="/extend/themes/">themes</a> available to transform your site into almost <a href="/showcase/">anything you can imagine</a>. Over 60 million people have chosen WordPress to power the place on the web they call &#8220;home&#8221; &#8212; we&#8217;d love you to join the family.</p>

  </div>
</div>
<div id="pagebody">
  <div class="wrapper">
    <%= render :partial => "/shared/left_banner" %>

    <div class="col-10">

      <h1 class="head" style="font-weight: bold;"><%= @blog.title %></h1>
      <br />

      <div class="bubble" >

        <div id="issuecomment-1401778" class="comment normal-comment">
          <div class="cmeta">
            <p class="author">
              <span class="icon"></span>
              <strong class="author">分类：<a href="/blogs?category_id?<%= @blog.category_id %>"><%= @blog.category.name %></a></strong>
            </p>
            <p class="info">
              <em class="date"><a href="#issuecomment-1401778"><%=  @blog.created_at.strftime("%Y-%m-%d %X") %></a></em>
            </p>
          </div>


          <div class="body">
            <div class="formatted-content">
              <div class="content-body markdown-body markdown-format">
                <p><%= @blog.content.html_safe %></p>
              </div>
            </div>
          </div>
        </div>

      </div>

      <style type="text/css">
        .bubble {
          padding: 3px;
          background: #EEE;
          border-radius: 3px;
          font: 13px helvetica,arial,freesans,clean,sans-serif;
          line-height: 1.4;
          color: #333;
        }

        .comment {
          margin: 0;
          padding: 0;
          border: 1px solid #CACACA;
        }
        .cmeta {
          height: 33px;
          padding: 0 10px;
          border-bottom: 1px solid #CCC;
          background: url('/images/metabar.gif')  0  -33px repeat-x;
        }

        .comment > .body {
          position: relative;
          padding: 0;
          color: #333;
          font-size: 12px;
          background: #FBFBFB;
        }
        .comment .content-body {
          padding: 10px;
          font-size: 13px;
        }
        .comment .cmeta p.author {
          margin: 0;
          float: left;
          max-width: 600px;
          font-size: 12px;
          height: 33px;
          line-height: 33px;
          text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.7);
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
        .comment .cmeta p.info {
          float: right;
          margin: 0;
          font-size: 11px;
          height: 33px;
          line-height: 33px;
        }

        .comment .content-body {
          padding: 10px;
          font-size: 13px;
          line-height: 1.6;
        }

      </style>



    </div>

  </div>
</div>