
<!-- feed is cached -->
<%= raw Page.find_by_id(1).try(:content) %>

<div id="pagebody">
  <div class="wrapper">
    <%= render :partial => "/shared/left_banner" %>

    <div class="col-10">
      <% @blogs.each do |blog|  %>
        <h3 class="head">[<%= blog.try(:category).try(:name) %>]&nbsp;&nbsp;<%= link_to  blog.title ,blog_path(blog) %></h3>
      <% end %>
      <%= paginate(@blogs ,:theme =>  'news') %>
    </div>

  </div>
</div>
