<%= form_for [:admin, @category], :url => path do |form| %>
  <% @category.errors.full_messages.each do |e| %>
    <%=  e  %><br />
  <% end %>
  <table class="data2 data3" cellspacing="0">
    <tr>
      <th><label><%= Category.human_attribute_name("name") %>:</label></th>
      <td>
        <%= form.text_field :name, :maxlength => 50, :size => 40 %>
      </td>
    </tr>
    <tr><td  class="center" colspan="2"><%= form.submit t('labels.save') ,:class => 'btn_s' %></td></tr>
  </table>
<% end %>
<div class="link-right">
  <%= link_to '返 回', admin_categories_path, :class=>"link_s"%>
</div>