<%= form_for [:admin, @blog], :url => path do |form| %>
  <% @blog.errors.full_messages.each do |e| %>
    <%=  e  %><br />
  <% end %>
  <table class="data2 data3" cellspacing="0">
    <tr>
      <th><label><%= Blog.human_attribute_name("title") %>:</label></th>
      <td>
        <%= form.text_field :title, :maxlength => 50, :size => 40 %>
      </td>
    </tr>
    <tr>
      <th><label><%= Blog.human_attribute_name("category_id") %>:</label></th>
      <td>
        <%= form.select  :category_id ,Category.all.collect{|c|[c.name , c.id]} %>
      </td>
    </tr>
    <tr>
      <th><label><%= Blog.human_attribute_name("content") %>:</label></th>
      <td>
        <%= form.text_area :content,  :size => '40x8' %>
      </td>
    </tr>
    <tr><td  class="center" colspan="2"><%= form.submit t('labels.save') ,:class => 'btn_s' %></td></tr>
  </table>
<% end %>
<div class="link-right">
  <%= link_to '返 回', admin_blogs_path, :class=>"link_s"%>
</div>