<!--LEFT NAVI-->
<div class="LeftNavi">

  <div class="ListArea">
    <p class="Category"><%= t("h2.session_home") %></p>
    <ul>

 

      <li class="Level1 <%= 'current' if controller_name == 'administrators' %>"><%= link_to t('labels.manager', :model => Administrator.model_name.human), admin_administrators_path, :class => "l1" %>
        <% if  ['administrators'].include?(controller_name) %>
          <ul class="Level2">
            <li class=" <%= (action_name=='edit'||action_name=='index')&& controller_name=='news' ? 'on' :'' %>">
              <%= link_to t('labels.manager', :model => Administrator.model_name.human), admin_administrators_path %>
            </li>
            <li class="last <%= action_name=='new'&& controller_name=='news' ? 'on' :'' %>">
              <%= link_to t('labels.add_manager', :model => Administrator.model_name.human), new_admin_administrator_path %>
            </li>
          </ul>
        <% end %>
      </li>


      <li class="Level1 <%= 'current' if controller_name == 'blogs' %>"><%= link_to t('labels.manager', :model => Blog.model_name.human), admin_blogs_path, :class => "l1" %>
        <% if  ['blogs'].include?(controller_name) %>
          <ul class="Level2">
            <li class=" <%= (action_name=='edit'||action_name=='index')&& controller_name=='news' ? 'on' :'' %>">
              <%= link_to t('labels.manager', :model => Blog.model_name.human), admin_blogs_path %>
            </li>
            <li class="last <%= action_name=='new'&& controller_name=='news' ? 'on' :'' %>">
              <%= link_to t('labels.add_manager', :model => Blog.model_name.human), new_admin_blog_path %>
            </li>
          </ul>
        <% end %>
      </li>



      <li class="Level1 <%= 'current' if controller_name == 'categories' %>"><%= link_to t('labels.manager', :model => Category.model_name.human), admin_categories_path, :class => "l1" %>
        <% if  ['categories'].include?(controller_name) %>
          <ul class="Level2">
            <li class=" <%= (action_name=='edit'||action_name=='index')&& controller_name=='news' ? 'on' :'' %>">
              <%= link_to t('labels.manager', :model => Category.model_name.human), admin_categories_path %>
            </li>
            <li class="last <%= action_name=='new'&& controller_name=='news' ? 'on' :'' %>">
              <%= link_to t('labels.add_manager', :model => Category.model_name.human), new_admin_category_path %>
            </li>
          </ul>
        <% end %>
      </li>






    </ul>
  </div>
</div>
